# Dependências
node_modules/

# Build
dist/
build/

# Testes
test/
tests/
*.spec.ts
*.test.ts
coverage/
coverage-e2e/
.nyc_output/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
.temp/
.tmp/
*.pid
*.pid.lock
*.seed

# Prisma gerado
generated/prisma/

# Arquivos compactados
*.rar
*.zip
*.7z
*.tar
*.gz