.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url('../assets/imagem-banner.png') top center / cover no-repeat;
  border-radius: 0px 0px 100px 0px;
}
.logo{
  width: 30%;
}

.banner > p{
  margin-top: 10px;
  font-size: 24px;
  color: var(--cor-primaria);
  font-weight: 500;
}